.code{
    &__head{
        padding-left: 60px;
        background-color: #F1F0EE;
        height: 100px;
        width: 100%;
    }
    &__flex{
        display: flex;
        padding-bottom: 90px;
    }
}