.about{
    &__header{
        padding-left: 60px;
        background-color: #F1F0EE;
    }
    &__tog{
        margin-top: 20px;
        display: flex;
        margin-left: 60px;
    }
    &__head{
        font-family: Roboto;
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.02em;
    }
    &__togl{
        width: 230px;
        height: 40px;
        margin-top: 15px;
        border-radius: 100px;
        margin-left: 70px;
        align-items: center;
        text-align: center;
        display: flex;
        background-color: #F1F0EE;
    }
    &__r{
        background-color: #fff;
        border-radius: 100px;
        margin-left: 2px;
        padding: 10px;
    }
    &__t{
        margin-left: 10px;
    }
    &__logo{
        width: 125px;
        height: 100px;
    }

    &__list{
        margin-top: 30px;
        margin-left: 60px;
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        padding: 40px;
        letter-spacing: -0.02em;
        border-radius: 4px;
        background-color: #f9f9f9;
    }
    &__flex{
        display: flex;
    }
    &__txt{
        width: 400px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 50px;
    }
    &__head1{
        font-size: 24px;
        font-weight: 700;
        margin-left: 30px;
        line-height: 32px;
    }
    &__head1::before{
        content: "Markaz haqida";
        font-size: 16px;
        line-height: 24px;
        color: #FF7A00;
    }
    &__head11{
        font-size: 32px;
        margin-left: 50px;
        font-weight: 700;
        line-height: 40px;
    }
    &__head11::before{
        color: #FF7A00;
        content: "Markaz asoschisi";
        font-size: 16px;
        line-height: 24px;
    }
    &__boss{
        width: 100px;
        height: 100px;
    }
    &__txt1{
        width: 400px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 30px;
    }
    &__span{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    &__room{
        margin-top: 20px;
        width: 160px;
        justify-content: space-between;
        display: flex;
    }
    &__link{
        width: 32px;
        height: 32px;
    }
    &__head2{
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin-left: 60px;
        margin-top: 30px;
    }
    &__lis{
        display: flex;
        width: 1000px;
        margin-left: 20px;
        margin-top: 30px;
        justify-content: space-between;
    }
    &__itemm{
        width: 320px;
        letter-spacing: -0.02em;
    }
    &__itemm--head{
        margin-left: 30px;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.86px;
        margin-top: 20px;
    }
    &__itemm--txt{
        margin-top: 20px;
        color: #000000;
        width: 250px;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        margin-left: 30px;
    }
    &__itemm--img{
        width: 100%;
        height: auto;
    }
    &__a{
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #00000059;
    }
    &__a:hover{
        color: #000000;
    }
    &__item1{
        width: 600px;
        height: 350px;
        text-align: center;
        align-items: center;
        color: #ffffff;
        letter-spacing: -0.02em;
        background: conic-gradient(from 270deg at 100% 100%, #FF1717 0deg, #0066FF 117.01deg, #FFF500 360deg);
    }
    &__item1--h{
        margin-top: 70px;
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
    }
    &__item1--p{
        margin-top: 30px;
        width: 280px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }
    &__btn{
        background-color: #ffffff;
        width: 210px;
        height: 55px;
        border-radius: 100px;
        border: 0px;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.86px;
    }

    &__item2{
        width: 380px;
        background-color: #f9f9f9;
        border-radius: 4px;
        letter-spacing: -0.02em;
    }
    &__txt2{
        margin-left: 60px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }
    &__listt{
        display: flex;
        justify-content: space-between;
        margin-left: 60px;
        width: 1000px;
    }
    &__num{
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        color: #BA8D5B;
        margin-left: 60px;
    }
    &__v{
        margin-left: 60px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.02em;
    }
    &__button{
        width: 180px;
        height: 54px;
        border-radius: 100px;
        background-color: #C3E0A0;
        font-size: 16px;
        font-weight: 700;
        margin-left: 60px;
        border: 0px;
        margin-top: 50px;
        line-height: 22px;
    }
    
    &__listt--item{
        margin-top: 40px;
        letter-spacing: -0.02em;
        width: 360px;
        background-color: #f9f9f9;
        padding: 25px;
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
    }
    &__head3{
        margin-bottom: 20px;
    }
    &__number{
        margin-bottom: 20px;
        color: #BA8D5B;
    }
    &__number::before{
        content: "Bizning raqam";
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }
    &__time{
        margin-bottom: 20px;
        color: #BA8D5B;
    }
    &__time::before{
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        content: "Ish vaqti";
    }
    &__email{
        text-decoration: underline;
        margin-bottom: 20px;
        color: #BA8D5B;
    }
    &__email::before{
        content: 'Elektron pochta';
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }
    &__social{
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
    }
    &__btn1{
        width: 260px;
        height: 54px;
        border-radius: 100px;
        background-color: #C3E0A0;
        border: 0px;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 700;
    }
    &__f{
        width: 500px;
    }

    &__ll{
        width: 1010px;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-top: 30px;
    }
    &__2{
        border-radius: 4px;
        width: 265px;
        background: conic-gradient(from 270deg at 100% 100%, #AD00FF 0deg, #00F0FF 89.68deg, #FFF500 360deg);
        letter-spacing: -0.02em;
        color: #ffffff;
        padding: 30px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    &__2--head{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
    &__2--btn{
        background-color: #fff;
        border: 0px;
        border-radius: 100px;
        margin-top: 30px;
        width: 210px;
        height: 44px;
    }
    &__g{
        background: conic-gradient(from 268.65deg at 100% 100%, #FFF500 0deg, #BFD539 0.04deg, #AD00FF 117.01deg, #FFF500 360deg);
    }
    &__h{
        background: conic-gradient(from 270deg at 100% 100%, #FF00C7 0deg, #00FFFF 101.25deg, #FFF500 360deg);
    }
}
.hover:hover{
    text-decoration: underline;
}
.active{
    background-color: #fff;
    color: red;
    font-size: 8px;
    font-weight: 700;
    line-height: 19.12px;
    letter-spacing: -0.02em;
}